<!DOCTYPE html>
<html>
<head>
    <title>Bug Info</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/static/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js" type="text/javascript"></script>
    <style type="text/css">
        table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 100px;
        }
        table tr:nth-child(odd)
        {
            background: #fff;
        }
        table tr:nth-child(even)
        {
            background: #F5FAFA;
        }
    </style>

</head>
<body>
<div class="container-fluid" id="progress"></div>
<div class="container-fluid">
    <div class="row-fluid" id="BugList" >
        <div class="span12 text-center">
            <h3>gDefects4dl</h3>
            <div>--A deep learning General Bug library</div>
        </div>

        <form class="form-search form-inline" id="bug_form">

            <table width="90%" class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="4" class="text-center">Bug Overview</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="item-title">Count of Bugs</td>
                    <td colspan="3">{{ bugCount }}</td>
                </tr>
                <tr>
                    <td class="item-title">Count of Shape mismatch type</td>
                    <td>{{ smCount }}</td>
                    <td class="item-title">Count of API misuse</td>
                    <td>{{ apiCount }}</td>
                </tr>
                <tr>
                    <td class="item-title">Count of Type mismatch</td>
                    <td>{{ tmCount }}</td>
                    <td class="item-title">Count of Numeric error</td>
                    <td>{{ numCount }}</td>
                </tr>
                <tr>
                    <td class="item-title">Count of Architecture design convention</td>
                    <td>{{ adCount }}</td>
                    <td class="item-title">Count of Performance</td>
                    <td>{{ perCount }}</td>
                </tr>

            </table>


            <div class="form-group query-form-group">
                <label>General Bug Type&nbsp;&nbsp;</label>
<!--                <select class="form-control" id="selectType" v-on:change="refreshBug">-->
                <select class="form-control" id="selectType">
                    <option value="All">All</option>
                    <option value="shapeMismatch">shape mismatch</option>
                    <option value="API">API misuse</option>
                    <option value="typeMismatch">type mismatch</option>
                    <option value="numericError">numeric error</option>
                    <option value="adc">architecture design convention</option>
                    <option value="Performance">Performance</option>
                </select>
            </div>&nbsp;&nbsp;
            <div class="form-group query-form-group">
                <button type="button" class="btn btn-primary btn-sm" id="queryType" v-on:click="selectByType" >Select</button>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group query-form-group">
                <label>ErrorMessage&nbsp;&nbsp;</label>
                <select class="form-control" id="selectErrorM">
                    <option value="">All</option>
                    <option value="ValueError">ValueError</option>
                    <option value="TypeError">TypeError</option>
                    <option value="InvalidArgumentError">InvalidArgumentError</option>
                    <option value="AssertionError">AssertionError</option>
                    <option value="IndexError">IndexError</option>
                    <option value="ZeroDivisionError">ZeroDivisionError</option>
                    <option value="FailedPreconditionError">FailedPreconditionError</option>
                    <option value="None">None</option>
                </select>
            </div>&nbsp;&nbsp;
            <div class="form-group query-form-group">
                <button type="button" class="btn btn-primary btn-sm" id="queryErrorM" v-on:click="selectByErrorM">Select</button>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group query-form-group">
                <label>Character&nbsp;&nbsp;</label>
                <select class="form-control" id="selectCharacter">
                    <option value="All">All</option>
                    <option value="0">Static_Bug</option>
                    <option value="1">Dynamic_Bug</option>
                </select>
            </div>&nbsp;&nbsp;
            <div class="form-group query-form-group">
                <button type="button" class="btn btn-primary btn-sm" id="queryCharacter" v-on:click="selectByCharacter">Select</button>
            </div>

            <table width="90%" class="table table-hover">
                <thead>
                <tr>
                    <th colspan="5" class="text-center">Bug Info</th>
                </tr>
                <tr>
                    <th style="width: 30px">
                        ID
                    </th>
                    <th style="width: 30px">
                        ErrorMessage
                    </th>
                    <th style="width: 30px">
                        Bug Type
                    </th>
                    <th style="width: 30px">
                        Description
                    </th>
                    <th style="width: 10%">
                        Operate
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in dataList">
                    <td>
                        {{ item.bugs[0].bugID }}
                    </td>
                    <td>
                        {{ item.bugs[0].errorMessage }}
                    </td>
                    <td>
                        {{ item.bugs[0].type }}
                    </td>
                    <td>
                        {{ item.bugs[0].describe }}
                    </td>
                    <td width="10%">
                        <div align="left" style="float:left">
                            <button type="button" class="btn btn-info btn-sm" v-on:click="getInfoD(item.bugs[0].bugID)">Detail</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-warning btn-sm" v-on:click="pullOneBug(item.bugs[0].bugID)">Pull</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

        </form>
    </div>
</div>

</body>


<!-- js -->
<script src="/static/vue.min.js"></script>
<script src="/static/nanobar.js"></script>
<script>
    var vm = new Vue({
        el: '#BugList',
        data: {
            bugID: null,
            errorMessage: null,
            character: null,
            type: null,
            describe: null,
            bugCount: null,
            smCount: null,
            apiCount: null,
            tmCount: null,
            numCount: null,
            adCount: null,
            perCount: null,
            dataList: [],
            dataList1: [],
        },
        mounted: function () {
            //调用在method属性中定义的方法
            this.initBug();
        },
        methods: {
            initBug: function () {
                axios.get("getBug")
                    .then(response => {

                        vm.dataList = response.data;
                        vm.dataList1 = vm.dataList;
                        vm.bugCount = response.data.length;

                        var smCount = 0;
                        var apiCount = 0;
                        var tmCount = 0;
                        var numCount = 0;
                        var adCount = 0;
                        var perCount = 0;
                        for (var i = 0; i < response.data.length; i++) {
                            if (response.data[i].bugs[0].type == "shape mismatch") {
                                smCount++;
                            } else if (response.data[i].bugs[0].type == "API misuse") {
                                apiCount++;
                            } else if (response.data[i].bugs[0].type == "type mismatch") {
                                tmCount++;
                            } else if (response.data[i].bugs[0].type == "numeric error") {
                                numCount++;
                            } else if (response.data[i].bugs[0].type == "architecture design convention") {
                                adCount++;
                            } else if (response.data[i].bugs[0].type == "Performance") {
                                perCount++;
                            }
                        }
                        vm.smCount = smCount;
                        vm.apiCount = apiCount;
                        vm.tmCount = tmCount;
                        vm.numCount = numCount;
                        vm.adCount = adCount;
                        vm.perCount = perCount;
                    })
            },
            refreshBug: function () {
                axios.get("getBug")
                    .then(response => {
                        vm.dataList = response.data;
                    })
            },
            selectByType: function () {
                var options = $("#selectType option:selected"); // 获取选中的项
                var typeName = options.text();
                if (options.text() == "All") {
                    this.refreshBug();
                } else {
                    vm.dataList = vm.dataList1;
                    var SelectTypeList = [];
                    for (var i = 0; i < vm.dataList.length; i++) {
                        if (vm.dataList[i].bugs[0].type == typeName) {
                            SelectTypeList.push(vm.dataList[i])
                        }
                    }
                }
                vm.dataList = SelectTypeList;
            },
            selectByErrorM: function () {
                var options = $("#selectErrorM option:selected");
                var errorName = options.text();
                if (options.text() == "All") {
                    this.refreshBug();
                } else {
                    vm.dataList = vm.dataList1;
                    var SelectErrorMList = [];
                    for (var i = 0; i < vm.dataList.length; i++) {
                        if (vm.dataList[i].bugs[0].errorMessage == errorName) {
                            SelectErrorMList.push(vm.dataList[i])
                        }
                    }
                }
                vm.dataList = SelectErrorMList;

            },
            selectByCharacter: function () {
                var options = $("#selectCharacter option:selected"); // 获取选中的项
                var typeName = options.val();
                if (options.val() == "All") {
                    this.refreshBug();
                } else {
                    vm.dataList = vm.dataList1;
                    var SelectCharList = [];
                    for (var i = 0; i < vm.dataList.length; i++) {
                        if (vm.dataList[i].bugs[0].character == typeName) {
                            SelectCharList.push(vm.dataList[i])
                        }
                    }
                }
                vm.dataList = SelectCharList;
            },
            getInfoD: function (bugID) {
                //将localStorage传递到哪个页面
                location.href = 'bugDetail'
                //设置localStorage
                window.localStorage.setItem('bugID', bugID);
            },
            pullOneBug: function (bugId) {
                var options = {
                    classname: 'my-class',
                    id: 'my-id',
                    target: document.getElementById('progress')
                };
                var nanobar = new Nanobar(options);
                //新加的
                var intelval = setInterval(function () {

                    //执行ajax
                    $.ajax({
                        url: "testProgress",
                        dataType: "text",
                        type: "post",
                        success: function (data) {
                            $(".nanobar").fadeIn();
                            //显示进度
                            nanobar.go(data);
                        }
                    })
                }, 1000);

                axios.get("pullProgress?bugId=" + bugId)
                    .then(response => {
                        //结束后台进度查询
                        clearInterval(intelval);
                        nanobar.go(100);
                        $(".nanobar").fadeOut();
                        alert("Pull Success");
                    })

            },
        },


    })


</script>

</html>