<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Detail</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/static/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js" type="text/javascript"></script>
    <style type="text/css">
        table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 100px;
        }
        table tr:nth-child(odd)
        {
            background: #fff;
        }
        table tr:nth-child(even)
        {
            background: #F5FAFA;
        }
    </style>
</head>
<body>
<div class="container-fluid" id="BugDetail">
    <p></p>
    <p></p>
    <div class="container-fluid col-xs-12 mt-10">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th colspan="4" class="text-center">Bug详细信息</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="item-title">The library and the BugID</td>
                <td>{{ dataInfoDetail.bugID }}</td>
                <td class="item-title">ErrorMessage</td>
                <td>{{ dataInfoDetail.errorMessage }}</td>
            </tr>
            <tr>
                <td class="item-title">RootCause</td>
                <td >{{ dataInfoDetail.rootCause }}</td>
                <td class="item-title">BuggyCommit</td>
                <td >{{ dataInfoDetail.buggyVersion.buggycommit }}</td>
            </tr>
            <tr>
                <td class="item-title">Describe</td>
                <td colspan="3">{{ dataInfoDetail.describe }}</td>
            </tr>
            <tr>
                <td class="item-title">FixCommit</td>
                <td >{{ dataInfoDetail.fixVersion.fixcommit }}</td>
                <td class="item-title">If you want to view both versions of the modification record, please click the corresponding button on the right</td>
                <td >
                    <button class="btn btn-primary btn-sm" type="button">Diff</button>
                </td>
            </tr>
            <tr>
                <td class="item-title">If you would like to run the Buggy version of the test case, please click</td>
                <td >
                    <button class="btn btn-primary btn-sm" type="button">B_test</button>
                </td>
                <td class="item-title">If you would like to run the Fix version of the test case, please click</td>
                <td >
                    <button class="btn btn-primary btn-sm" type="button">F_test</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div style="height: 50px"></div>

    <div class="container-fluid col-xs-12 mt-10">

        <div style=" border:1px solid #bbe1f1;background:#eefaff">
            点击按钮反馈的消息显示再此

        </div>

    </div>


</div>
</body>


<script src="/static/vue.min.js"></script>
<script>
    var vm = new Vue({
        el: '#BugDetail',
        data:{

            dataInfoDetail: [],

        },
        mounted: function () {
            //获取传递过来的localStorage
            console.log(window.localStorage.getItem('bugID'))

            var bugID = window.localStorage.getItem('bugID');
            axios.get("getBugInfo?bugID="+ bugID)
                .then(response => {

                    vm.dataInfoDetail = response.data;
                    console.log(vm.dataInfoDetail)

                })

        },
        methods: {


        }

    })


</script>

</html>