<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Detail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap4/js/bootstrap.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js" type="text/javascript"></script>
    <style type="text/css">
        table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 100px;
        }
        table tr:nth-child(odd)
        {
            background: #fff;
        }
        table tr:nth-child(even)
        {
            background: #F5FAFA;
        }
        /*span{color:#00F;text-decoration: underline;cursor: pointer}*/

    </style>
</head>
<body>
<div class="container-fluid" id="BugDetail">
    <p></p>
    <p></p>
    <div class="container-fluid col-xs-12 mt-10">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th colspan="8" class="text-center">Bug details</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td colspan="1" class="item-title">BugID:</td>
                <td colspan="1">{{ dataInfoDetail.bugID }}</td>
                <td colspan="1" class="item-title">ErrorMessage:</td>
                <td colspan="1">{{ dataInfoDetail.errorMessage }}</td>
                <td colspan="1" class="item-title">Support Level:</td>
                <td colspan="1">{{ dataInfoDetail.support_level }}</td>
                <td colspan="1" class="item-title">Bug Type:</td>
                <td colspan="1">{{ dataInfoDetail.type }}</td>
            </tr>

<!--            <tr>-->
<!--                <td colspan="1" class="item-title">Bug Type:</td>-->
<!--                <td colspan="1">{{ dataInfoDetail.type }}</td>-->
<!--                <td>Positioning difficulty:</td>-->
<!--                <td>{{ dataInfoDetail.localScore }}</td>-->
<!--                <td>Repair difficulty:</td>-->
<!--                <td>{{ dataInfoDetail.fixLength }} + {{ dataInfoDetail.operateScore }}</td>-->
<!--            </tr>-->

            <tr>
                <td class="item-title">Similar Bugs:</td>
                <td><a href="" v-for="item in similar_bug_list" @click="jumpSimilarBug(item)">{{ item }}&nbsp;</a></td>
                <td class="item-title">Description:</td>
                <td colspan="5">{{ dataInfoDetail.describe }}</td>
            </tr>

            <tr>
                <td class="item-title" colspan="2">Run Detection Tools:</td>
                <td colspan="6">
                    <button class="btn btn-primary btn-sm" type="button" v-on:click="seeIssue">GitHub_Issue</button>
                    <button class="btn btn-primary btn-sm" type="button" v-on:click="seeCommit">GitHub_commit</button>
                    <button class="btn btn-primary btn-sm" type="button" v-on:click="showDiff">Diff</button>
                    <button id="btn_shapeFlow" class="btn btn-success btn-sm" type="button" v-on:click="runShapeFlow">ShapeFlow</button>
<!--                    <button id="btn_DeepLocalize" class="btn btn-success btn-sm" type="button" v-on:click="runDeepLocalize">DeepLocalize</button>-->
                    <button id="btn_DEBAR" class="btn btn-success btn-sm" type="button" v-on:click="runDEBAR">DEBAR</button>
                    <button id="btn_GRIST" class="btn btn-success btn-sm" type="button" v-on:click="runGRIST">GRIST</button>
                    <button id="btn_buggy" class="btn btn-primary btn-sm" type="button" v-on:click="testBuggy">failing test</button>
                    <button id="btn_fix" class="btn btn-primary btn-sm" type="button" v-on:click="testFix">passing test</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="height: 10px"></div>

    <div class="container-fluid col-xs-12 mt-10">
        <div id="showTest" style=" border:1px solid #bbe1f1;background:#eefaff">
<!--            <div id="ld" v-if="isShow">Loading...</div>-->
            <div id="tips"></div>
            <div id="progress"></div>
            <pre v-html="buggyInfo" id="bt"></pre>
            <pre v-html="fixInfo" id="ft"></pre>
            <pre v-html="toolInfo" id="ti"></pre>
        </div>

    </div>

</div>
</body>


<script src="/vue.min.js"></script>
<script src="/nanobar.js"></script>
<script>

    var vm = new Vue({
        el: '#BugDetail',
        data:{
            dataInfoDetail: [],
            buggyInfo: null,
            fixInfo: null,
            toolInfo: null,
            isShow: false,
            issue_url: null,
            commit_url: null,
            similar_bug_list: [],
        },
        mounted: function () {
            //获取传递过来的localStorage
            var bugID = window.localStorage.getItem('bugID');
            axios.get("getBugInfo?bugID="+ bugID)
                .then(response => {
                    vm.dataInfoDetail = response.data;
                    vm.issue_url = response.data.issue_url;
                    vm.commit_url = response.data.commit_url;
                    vm.similar_bug_list = response.data.similar_bugs.split(',');
                    // alert(vm.similar_bug_list[0])
                    if (vm.dataInfoDetail.detection_tools.search("ShapeFlow") == -1){
                        // $("#btn_shapeFlow").attr({"disabled":"disabled"});
                        $("#btn_shapeFlow").attr({"class":"btn btn-dark btn-sm"});
                        $("#btn_shapeFlow").attr({"disabled":"disabled"});
                    }
                    if (vm.dataInfoDetail.detection_tools.search("DEBAR") == -1){
                        // $("#btn_DEBAR").attr({"disabled":"disabled"});
                        $("#btn_DEBAR").attr({"class":"btn btn-dark btn-sm"});
                        $("#btn_DEBAR").attr({"disabled":"disabled"});
                    }
                    if (vm.dataInfoDetail.detection_tools.search("GRIST") == -1){
                        // $("#btn_GRIST").attr({"disabled":"disabled"});
                        $("#btn_GRIST").attr({"class":"btn btn-dark btn-sm"});
                        $("#btn_GRIST").attr({"disabled":"disabled"});
                    }
                })
        },
        methods: {
            showDiff: function (){
                //将localStorage传递到哪个页面
                location.href = 'diff'
                //设置localStorage
                window.localStorage.setItem('bugID',bugID);

            },
            seeIssue: function (){
                window.location.href=vm.issue_url;
            },
            seeCommit: function (){
                window.location.href=vm.commit_url;
            },
            testBuggy: function (){
                $("#btn_buggy").attr({"disabled":"disabled"});
                // var options = {
                //     classname: 'my-class',
                //     id: 'my-id',
                //     target: document.getElementById('progress')
                // };
                // var nanobar = new Nanobar( options );
                // var intelval=setInterval(function () {
                //
                //     //执行ajax
                //     $.ajax({
                //         url:"testProgress",
                //         dataType:"text",
                //         type:"post",
                //         success:function (data) {
                //
                //             $("#tips").html("Running test cases...");
                //             $(".nanobar").fadeIn();
                //             //显示进度
                //             nanobar.go(data);
                //         }
                //     })
                // },1000);
                // var readRes=setInterval(() => {
                var readRes=setInterval(function () {
                    //执行ajax
                    $.ajax({
                        url:"readDe_sb",
                        dataType:"text",
                        type:"post",
                        success:function (data) {
                            $("#tips").html("Running test cases...");
                            vm.buggyInfo = data;
                        }
                    })
                },1000);

                var bugId = window.localStorage.getItem('bugID');
                document.getElementById("ft").innerHTML = "";
                document.getElementById("ti").innerHTML = "";
                //vm.isShow = true;
                axios.get("getTestBuggy?bugId="+ bugId)
                    .then(response => {
                        //结束后台进度查询
                        // clearInterval(intelval);
                        // 结束实时查询
                        clearInterval(readRes);
                        // nanobar.go(100);
                        $("#tips").html("");
                        // $(".nanobar").fadeOut();
                        //显示test结果
                        vm.buggyInfo = response.data;
                        // $("#btn_buggy").removeAttr("disabled");
                    })
            },
            testFix:function (){
                $("#btn_fix").attr({"disabled":"disabled"});
                var readRes=setInterval(function () {
                    //执行ajax
                    $.ajax({
                        url:"readDe_sb",
                        dataType:"text",
                        type:"post",
                        success:function (data) {
                            $("#tips").html("Running test cases...");
                            //实时显示test结果
                            vm.fixInfo = data;
                        }
                    })
                },1000);

                var bugId = window.localStorage.getItem('bugID');
                document.getElementById("bt").innerHTML = "";
                document.getElementById("ti").innerHTML = "";

                axios.get("getTestFix?bugId="+ bugId)
                    .then(response => {
                        clearInterval(readRes);
                        $("#tips").html("");
                        //显示test结果
                        vm.fixInfo = response.data;
                    })
            },
            runShapeFlow: function (){
                $("#btn_shapeFlow").attr({"disabled":"disabled"});
                var readRes=setInterval(function () {
                    //执行ajax
                    $.ajax({
                        url:"readDe_sb",
                        dataType:"text",
                        type:"post",
                        success:function (data) {
                            $("#tips").html("Running ShapeFlow...");
                            //实时显示结果
                            vm.toolInfo = data;
                        }
                    })
                },1000);

                var bugId = window.localStorage.getItem('bugID');
                document.getElementById("bt").innerHTML = "";
                document.getElementById("ft").innerHTML = "";
                axios.get("runShapeFlow?bugId="+ bugId)
                    .then(response => {
                        clearInterval(readRes);
                        $("#tips").html("");
                        //显示结果
                        vm.toolInfo = response.data;
                    })
            },
            runGRIST: function (){
                $("#btn_GRIST").attr({"disabled":"disabled"});
                var readRes=setInterval(function () {
                    //执行ajax
                    $.ajax({
                        url:"readDe_sb",
                        dataType:"text",
                        type:"post",
                        success:function (data) {
                            $("#tips").html("Running GRIST...");
                            //实时显示结果
                            vm.toolInfo = data;
                        }
                    })
                },1000);

                var bugId = window.localStorage.getItem('bugID');
                document.getElementById("bt").innerHTML = "";
                document.getElementById("ft").innerHTML = "";
                axios.get("runGRIST?bugId="+ bugId)
                    .then(response => {
                        clearInterval(readRes);
                        $("#tips").html("");
                        //显示结果
                        vm.toolInfo = response.data;
                    })
            },
            runDEBAR: function (){
                $("#btn_DEBAR").attr({"disabled":"disabled"});
                var readRes=setInterval(function () {
                    //执行ajax
                    $.ajax({
                        url:"readDe_sb",
                        dataType:"text",
                        type:"post",
                        success:function (data) {
                            $("#tips").html("Running DEBAR...");
                            //实时显示结果
                            vm.toolInfo = data;
                        }
                    })
                },1000);

                var bugId = window.localStorage.getItem('bugID');
                document.getElementById("bt").innerHTML = "";
                document.getElementById("ft").innerHTML = "";
                axios.get("runDEBAR?bugId="+ bugId)
                    .then(response => {
                        clearInterval(readRes);
                        $("#tips").html("");
                        //显示结果
                        vm.toolInfo = response.data;
                    })
            },
            jumpSimilarBug: function (bugID) {
                //将localStorage传递到哪个页面
                location.href = 'bugDetail'
                //设置localStorage
                window.localStorage.setItem('bugID', bugID.trim());
            },
        }
    })

</script>


</html>