<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diff</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
    <script src="/static/jquery.min.js"></script>
    <!-- Javascripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.2/diff2html-ui.js"></script>
    <style type="text/css">
        .d2h-file-side-diff{
            width: 49%;
        }
    </style>
</head>
<body>

    <div id="destination-elem-id">

    </div>
</body>

<script>
    var bugID = window.localStorage.getItem('bugID');
    $.ajax({
        type: "POST",
        url: "getDiffInfo?bugId="+bugID,
        success: function(data){
            //diffInfo = data;
            //document.addEventListener('DOMContentLoaded', () => {
            var diffHtml = window.Diff2Html.html(data, {
                drawFileList: true,
                matching: 'lines',
                outputFormat: 'side-by-side',
            });
            document.getElementById('destination-elem-id').innerHTML = diffHtml;


        }
    })



</script>

</html>