<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diff</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
    <script src="/static/jquery-3.5.1.min.js"></script>
    <!-- Javascripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.12.2/diff2html-ui.js"></script>
    <style type="text/css">
        /*.d2h-file-side-diff{*/
        /*    float: left;*/
        /*}*/
    </style>
</head>
<body>

    <div id="destination-elem-id">

    </div>
</body>

<script>
    var bugID = window.localStorage.getItem('bugID');
    var diffInfo = '';
    $.ajax({
        type: "POST",
        url: "getDiffInfo?bugId="+bugID,
        success: function(data){
            diffInfo = data;
            console.log(diffInfo)
        }
    })
    alert(diffInfo);
    document.addEventListener('DOMContentLoaded', () => {
        var diffHtml = window.Diff2Html.html(diffInfo, {
            drawFileList: true,
            matching: 'lines',
            outputFormat: 'side-by-side',
        });
        document.getElementById('destination-elem-id').innerHTML = diffHtml;
    });

</script>
<!--<script src="/static/vue.min.js"></script>-->
<!--<script>-->
<!--    var vm = new Vue({-->
<!--        el: '#destination-elem-id',-->
<!--        data:{-->
<!--            //diffInfo: null,-->
<!--            diffHtml: {},-->
<!--        },-->
<!--        mounted: function () {-->
<!--            //获取传递过来的localStorage-->
<!--            var bugID = window.localStorage.getItem('bugID');-->
<!--            var diffMessage = '';-->
<!--            axios.get("/getDiffInfo?bugId="+ bugID)-->
<!--                .then(response => {-->
<!--                    diffMessage = response.data;-->
<!--                    console.log(diffMessage);-->
<!--                })-->

<!--            document.addEventListener('DOMContentLoaded', () => {-->
<!--                vm.diffHtml = window.Diff2Html.html(diffMessage, {-->
<!--                    drawFileList: true,-->
<!--                    matching: 'lines',-->
<!--                    outputFormat: 'side-by-side',-->

<!--                });-->
<!--                console.log("vm.diffHtml");-->
<!--                console.log(vm.diffHtml);-->
<!--                    //document.getElementById('destination-elem-id').innerHTML = diffHtml;-->
<!--                });-->
<!--        },-->

<!--    })-->
<!--</script>-->

</html>