<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diff</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.css" />
    <script src="/bootstrap4/js/bootstrap.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/search/searchcursor.min.js"></script>
    <script src="/mergely/package/lib/mergely.js" type="text/javascript"></script>
    <link rel="stylesheet" media="all" href="/static/mergely/package/lib/mergely.css" />
    <style type="text/css">
        .CodeMirror,
        .mergely-margin,
        .mergely-column {
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="mergely-full-screen-8">
        <div class="mergely-resizer">
            <div id="mergely" style="display: none"></div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        // set editor content
        $('#mergely').mergely({

            lhs: function(setValue) {
                setValue('the quick red fox\njumped over the hairy dog');
            },
            rhs: function(setValue) {
                setValue('the quick brown fox\njumped over the lazy dog');
            }
        });
    });
</script>
</html>